@model IEnumerable<Stddetail>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Stddetail List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Stddetail" asp-action="Create" class="btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;  Create New Stddetail
            </a>
        </div>
    </div>
    <br /><br />


@*<h1>Index Stddetail</h1>*@

<table class="table table-bordered table-striped" style="width:100%">
    
    <thead>
        <tr>
            <th>
                Stddetail Name
            </th>
            <th>
                phonenum
            </th>
            <th>
                email
            </th>
            <th>
                city
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.phonenum
                </td>
                <td width="30%">
                    @obj.email
                </td>
                <td width="30%">
                    @obj.city
                </td>
            </tr>
        }
    </tbody>
</table>
</div>