a.navbar-brand{
white-space:normal;
text-align:center;
word-break:break-all;
}
/*text colour red  welcome below*/
a{
color:#ffd800;
}

.btn-primary{
color:#00ff90;
background-color:#4cff00;
border-color:#ff0000;
}
.nav-pills .nav-link.active, .nav-pills.show > .nav-link{
    color:#fff;
    background-color:#ffd800;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}